<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/site.css" />
    <!-- Bootstrap v3.3.7 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>COVID19 Map</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Logo -->
            <div class="navbar-header">
                <span class="navbar-brand" href="#">COVID19 MAP</span>
            </div>

            <!-- Navigation link bars -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {{#navLink "/"}}Home{{/navLink}}
                    {{#navLink "/heatMap"}}Heat Map{{/navLink}}
                </ul>
            </div>
        </div>
    </nav>

    <!--Handlebar container-->
    <div class="container">
        {{{body}}}
    </div>

    <!--Footer-->
    <footer>
        <div class="center">
            &copy; 2020 Hyunji Cho, Tong Hyun Yi, Andrijana Nesic
        </div>
    </footer>


    <!-- jQuery 3.5.1 JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <!-- Bootstrap v4.4.1 JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>