<div class="row">
  <aside class="col-md-3">
    <h2>Project description</h2>
    <br>
    <p>Project description Project description Project description Project description Project description</p>
  </aside>
  
  <section class="main col-md-9">
    <article>
      <h2>Project description</h2>
      <br>
      <p>Project description Project description Project description Project descriptionProject description Project description Project description Project description </p>
      <p>Project description Project description Project descriptionProject descriptionProject descriptionProject descriptionProject description</p>
    </article>
  </section>
</div>