<div class="row">
  <aside class="col-md-3">
    <h2>Contributor</h2>
    <br>
    <p>Tong Hyun Yi </p>
    <p>Hyunji Cho </p>
    <p>Andrijana Nesic </p>

    </p>
  </aside>

  <section class="main col-md-9">
    <article>
      <h2>Visualize Covid-19 infection spread using Big Data Analytics</h2>
      <br>
      <p>Our product is “StrollSafe” and it belongs to the map navigation and data analysis category. The product helps
        any users to feel safe during COVID-19 Pandemic by recommending alternative locations of the store, restaurant,
        coffee shop, etc., than what they have already selected for their desired destination on the map. What sets this
        product apart from other typical maps is that it shows how many confirmed cases exist in each district of the
        Greater Toronto Area with gradient color enabling users to identify easily of safe and unsafe areas. </p>
    </article>
  </section>
</div>